@import './variables.scss';

* {
    box-sizing: content-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: roboto;
}

.wrapper {
    margin: 0 auto;
    width: 400px;
    height: 600px;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // padding: 10px;
    flex-wrap: wrap;
    position: relative;
    
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

.message-page {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .container-message-page {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .message-header {
        width: 100%;
        display: inline-flex;
        background-color:  rgba(148, 148, 228, 0.493);
        align-items: center;
        margin-top: 20px;
        padding: 5px;
        

        .message-header-btn {
            width: 30px;
            height: 30px;
            margin-right: 30px;
        }

        .message-header-avatar {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: silver;
            margin-right: 30px;
        }

        .message-header-name {
            color: slateblue;
        }

    }

    .message-list{
        
        
        .messege-container{
            width: 70%;
            margin-bottom: 10px;
            
            max-width: 50%;
            
            
            
            
            .message-box {
                background-color: tan;
                margin-bottom: 10px;
                display: inline;
                padding: 3px;
                border-radius: 3px;
                
                
                
                .message{
                    
                    border-radius: 3px;
                    padding: 3px;
                    margin: 3px;
                }
        
            }
        }
         
    }
    
    

    .message-input {
        width: 350px;
        resize: none;
        background-color: #f9f9f9;
        font-family: roboto;
    }

}




.modal-container {
    color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    .modal-header {
        background-color: rgba(148, 148, 228, 0.493);
        padding: 10px;
        margin-top: 20px;

        .btn-menu {
            margin-right: 50px;
        }
    }

    .contact-avatar {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: silver;
        margin-left: 10px;
        margin-right: 30px;
    }

    .contact-details {
        list-style-type: none;
        background-color: #fff;
        padding: 10px 0;
        border-bottom: 1px solid rgba(87, 87, 90, 0.062);
        display: flex;
        align-items: center;
    }
}