@import '@styles/variables.scss';

.header {
    width: 100%;
    background: $main-color;
    color: antiquewhite;
    font-size: 1.2em;
    font-weight: bolder;
    border-bottom: 2px solid #cecece;
    padding: 10px;
    letter-spacing: 2px;
}