.removeChat {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    z-index: 1;
    top: 44px;
    left: 165px;
}

.contactContainer {
    position: relative;
}

.removeChatIcon {
    color: grey;
    cursor: pointer;
}

.MuiListItem-button {
    min-height: 96px;
}