.header {
    //margin-bottom: 50px;

    &__wraper {
        display: flex;
        justify-content: space-between;
    }

    &__breadcrumbs,
    &__profile {
        color: inherit;
        text-decoration: none;
    }

    &__profile {
        display: flex;
        align-items: center;
    }

}
