$dark: #131313;
$dark-grey: #2f3031;
$gray: #37383a;
$light-grey: #4f4f4f;
$light: #8a8a8a;
$light2: #c2c2c2;
$msg-bg: #444857;
$app-green: #2FB45A;
$scroll: #0000004b;
$app-green-dark: #1d7037;
$purple: #491164;