@import "@styles/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.message__list {
  height: 100%;
  overflow-y: auto;
}

.btn__send {
  flex: 1 0 auto;
  height: 44px;
  margin-top: 20px;
  padding: 0;
  font-size: 16px;
  line-height: 44px;
  color: $color-white;
  background-color: $color-dark-blue;
  border: 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}