.msg-main {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    // max-width: 1000px;
    // margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.msg-name {
    max-width: 255px;
    word-wrap: break-word;
    // margin-bottom: 10px;
    line-height: 24px;
    // position: relative;
    padding: 10px 10px;
    border-radius: 25px;
    margin: 0;
    text-align: center;
}

.msg-text {
    margin: 0;
}
.msg-me {
    background: #0b93f6;
    align-self: flex-end;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 45px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
}
.msg-bot {
    background: #d3d3d3;
    align-self: flex-start;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 45px;
    padding-right: 30px;
    padding-left: 30px;
    color: #5865c3;
}
