@import "./variables.scss";
@import "./normalize";

html,
body {
    margin: 0;
    padding: 0;
    background: $main-color;
    height: 100%;
    font-family: sans-serif;
}

#app {
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
