$main-color: linear-gradient(to right, rgb(255, 204, 254) 0%,rgb(235, 172, 236) 100%);
$third-color: #ffffff;
$bg-color: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
$second-color: hsla(0, 0%, 100%, 0.808);
