.header {
    min-width: 800px;
    height: 50px;
    background-color: darkblue;
    color: #fff;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;

    .headerlink {
       color: yellowgreen; 
    }
}