.msg {
    &_text {
       
        color: white;
    }
    &_btn-answer {
        font-weight: 1000;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        margin-right: 5px;
    }

}
