.chat{
    &_field{
        width: 30%;
        padding: 10px;
        background-color: $color1;
        border-right: 1px solid $color2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &_list{
        list-style: none;

