.add_contact_btn{
    padding: 10px;
    background-color: $color2;
    color: $color1;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}