@import "@styles/variables.scss";

.message-list--item {
	background-color: $second-color;
	border-radius: 5px;
	padding: 2px;
	margin-bottom: 7px;
	align-self: flex-end;
}

.owner {
	align-self: flex-start;
}
