.header-home {
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
}