.you {
    text-align: right;
}

.message {
    background-color: lightblue;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 20px;
    font-size: 18px;
}

.messageName {
    font-size: 15px;
}

.messageDate {
    font-size: 12px;
    color: gray;
}